* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  min-height: 100vh;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSrfJ5XULZeGkaBNV3XE-z1HkGySQqdWTktyA&s");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

 
.todo{
  width: 360px;
  background: #d0d6dd;
  border-radius: 20px;
  padding: 25px;
}

.title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
  color: #00025e;
}

.title span {
  color: #4aaeff;
}

.input1{
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.input1 input {
  flex: 1;
  padding: 12px;
  border-radius: 12px;
  border: none;
  outline: none;
  background: #eef2f7;
  box-shadow: inset 3px 3px 6px rgba(224, 207, 207, 0.15),
              inset -3px -3px 6px rgba(175, 165, 165, 0.8);
}

.input1 button {
  padding: 12px 16px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  background: #4a6cff;
  color: #fff;
  font-weight: bold;
  transition: 0.3s;
}

.input1 button:hover {
  background: #364fc7;
}

#list {
  list-style: none;
}


#list li {
  background: #eef2f7;
  margin-bottom: 12px;
  padding: 12px 14px;
  border-radius: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow:
    4px 4px 8px rgba(17, 16, 16, 0.15),
    -4px -4px 8px rgba(230, 220, 220, 0.8);
  transition: 0.3s;
}

#list li:hover {
  transform: translateY(-2px);
}


#list li span {
  cursor: pointer;
  color: #352626;
  font-size: 15px;
}


#list li span.done {
  text-decoration: line-through;
  color: #7a6060;
}

#list li button {
  background: #a38989;
  border: none;
  color: #eee1e1;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

#list li button:hover {
  background: #df5656;
}
